aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
alabaster==0.7.16
altair==6.1.0
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
appnope==0.1.4
asgiref==3.11.1
asttokens==3.0.1
async-timeout==5.0.1
attrs==26.1.0
babel==2.18.0
beautifulsoup4==4.14.3
billiard==4.2.4
bleach==6.3.0
blinker==1.9.0
blurb==2.0.0
boto3==1.43.19
botocore==1.43.19
cachetools==7.0.6
celery==5.6.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
comm==0.2.3
coverage==7.13.5
cron_descriptor==2.0.8
cryptography==46.0.6
dataclasses-json==0.6.7
debugpy==1.8.20
decorator==5.2.1
deprecation==2.1.0
distro==1.9.0
Django==4.2.11
django-auditlog==2.3.0
django-celery-beat==2.7.0
django-ckeditor==6.7.2
django-cors-headers==4.8.0
django-js-asset==3.1.2
django-redis==6.0.0
django-timezone-field==7.2.1
djangorestframework==3.16.0
dnspython==2.8.0
docutils==0.22.4
drf-api-logger==1.1.20
email-validator==2.3.0
exceptiongroup==1.3.1
executing==2.2.1
fastapi==0.135.1
frozenlist==1.8.0
gitdb==4.0.12
GitPython==3.1.49
greenlet==3.3.2
gunicorn==26.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
hyperframe==6.1.0
idna==3.11
imagesize==2.0.0
iniconfig==2.3.0
ipykernel==7.2.0
ipython==9.10.1
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.13.0
jmespath==1.1.0
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.8.0
jupyter_core==5.9.1
kombu==5.6.2
langchain==1.2.15
langchain-classic==1.0.3
langchain-community==0.4.1
langchain-core==1.2.26
langchain-openai==1.2.1
langchain-protocol==0.0.14
langchain-text-splitters==1.1.1
langgraph==1.1.10
langgraph-checkpoint==4.0.3
langgraph-prebuilt==1.0.12
langgraph-sdk==0.3.13
langsmith==0.7.3
librt==0.8.1
lxml==6.0.2
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib-inline==0.2.1
msal==1.34.0
multidict==6.7.1
mypy==1.19.0
mypy_extensions==1.1.0
narwhals==2.20.0
nest-asyncio==1.6.0
numpy==2.4.4
openai==2.21.0
orjson==3.11.8
ormsgpack==1.12.2
packaging==26.2
pandas==3.0.0
parso==0.8.6
pathspec==1.0.4
pexpect==4.9.0
pillow==12.1.1
platformdirs==4.9.4
pluggy==1.6.0
postgrest==2.31.0
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==7.34.1
psutil==7.2.2
psycopg==3.3.3
psycopg-binary==3.3.3
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==24.0.0
pycparser==3.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
pydeck==0.9.2
Pygments==2.20.0
PyJWT==2.12.1
PyMuPDF==1.27.1
pytest==9.0.1
pytest-cov==6.3.0
pytest-django==4.11.1
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-doc==2020.10.1
python-docs-theme==2024.12
python-docx==1.2.0
python-dotenv==1.2.1
python-multipart==0.0.27
PyYAML==6.0.3
pyzmq==27.1.0
RapidFuzz==3.14.3
realtime==2.31.0
redis==7.4.0
referencing==0.37.0
regex==2026.4.4
reportlab==4.4.10
requests==2.32.5
requests-toolbelt==1.0.0
rpds-py==0.30.0
s3transfer==0.18.0
setuptools==82.0.1
six==1.17.0
smmap==5.0.3
sniffio==1.3.1
snowballstemmer==3.0.1
soupsieve==2.8.3
Sphinx==2.4.4
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.49
sqlparse==0.5.5
stack-data==0.6.3
starlette==0.52.1
storage3==2.31.0
streamlit==1.57.0
StrEnum==0.4.15
supabase==2.31.0
supabase-auth==2.31.0
supabase-functions==2.31.0
tenacity==9.1.4
tiktoken==0.12.0
toml==0.10.2
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
tzlocal==5.3.1
urllib3==2.6.3
uuid_utils==0.14.1
uvicorn==0.41.0
vine==5.1.0
wcwidth==0.6.0
webencodings==0.5.1
websockets==15.0.1
whitenoise==6.12.0
Whoosh==2.7.4
wikipedia==1.4.0
xlrd==2.0.1
xxhash==3.6.0
yarl==1.23.0
zstandard==0.25.0
